@font-face
{
    font-family: exo;
    src:url('../fonts/Exo-Regular.otf');
}
@font-face
{
    font-family: exobold;
    src:url('../fonts/Exo-Bold.otf');
}
@font-face
{
    font-family: exoitalic;
    src:url('../fonts/Exo-Italic.otf');
}
body {
    line-height: 1.42;
    background-color: #000;
}

#bloc_page
{
    font-family: 'exo',sans-serif;
    font-size: 14px;
    color: rgb(49,53,61);
    background-color: rgb(0,0,0);
}

strong
{
    font-family: 'exobold', sans-serif;
}
i
{
    font-family: 'exoitalic',sans-serif;
}
h1,h2,h3,h4,p
{
    font-family: 'exo',sans-serif;
}
h1
{
    font-size: 40px;
}
h2
{
    font-size: 35px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 25px;
}
li
{
    list-style: none;
}
a , a:visited
{
    color: rgb(52,152,219) !important;
}
a:focus , a:active , a:hover
{
    transition: color 0.3s ease;
    color : #FFD800 !important;
}

.btn-wog, .btn-wog:visited
{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    background-color: rgba(255,255,255,1);
    border-radius: 0;
    color: rgba(28,29,33,1);
}
.btn-wog:hover, .btn-wog:focus
{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    background-color: rgba(28,29,33,1);
    color: #FFF;
}

.disabled
{
    opacity: 0.6;
    cursor: not-allowed;
}
/* HEADER */
header
{
    display: block;

    background: url('../img/header.jpg');
    background-size:cover;
    height: 250px;

}
header .logo
{
    display: block;
    margin: auto;
    padding-top: 25px;
    width: 200px;
    height: 250px;

}
header .logo img
{
    width: 200px;

}

.navbar
{
    margin-bottom: 0;
    background-color: rgba(28,29,33,1);
    border-radius: 0;
    border: 1px solid rgba(28,29,33,1);
    border-bottom: 1px solid rgba(255,255,255,0.30);
    border-top: 1px solid rgba(255,255,255,0.30);
    z-index: 2000;
}

.navbar a , .navbar a:visited
{
    text-transform: uppercase;
    font-size: 18px;
}

.main-nav a:hover, .main-nav a:active
{
    -webkit-transform: skew(25deg);
    -ms-transform: skew(25deg);
    -o-transform: skew(25deg);
    tranform: skew(25deg);
}

.main-nav li:hover , .main-nav li:active, .main-nav li:focus
{
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    tranform: skew(-25deg);
    transition: background-color 0.3s ease;
    background-color: rgba(18,18,21,1);


}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-collapse
{
    text-align: center;
}



/* FOOTER */
footer
{
    position: relative;
    bottom: 0;
    background-color: rgba(28,29,33,1);
    width: 100%;
    color: rgb(52,152,219);
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.30);
}





/* CONTENU */
.content-wrapper
{
    height: 100%;
    min-height: 1200px;
    padding-bottom: 70px;
    background-color: rgba(2,10,21,1);
}
.main-content
{

    padding-top: 50px;
}
.wrapper-home
{
    background-color: rgba(0,0,0,0.2);
    padding: 50px;
}
.news
{
    background-color: rgba(211,209,206,1);
    padding: 0px 7px 7px 7px;
    margin-bottom: 50px;

}
.news .article-title
{
    background-color: rgba(211,209,206,1);
    margin-left: -7px;
    margin-right: -7px;
    padding: 7px 14px 0px 14px;
    color: #1B1B1B;

}
.news hr
{
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid rgba(0,0,0,0.1);
}

.nav-backend .btn-wog
{
    min-width: 100px;
    margin-bottom: 2px;
    font-size: 18px;
    text-transform: uppercase;
}
.form-horizontal
{
    background-color: rgba(255,255,255,0.30);
    padding: 20px 50px 20px 50px;
    border: 1px solid rgba(255,255,255,0.70);
}
.form-head
{
    background-color: rgba(255,255,255,0.50);
    padding: 7px;
    margin-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.70);
}
.form-control
{
    background-color: rgba(0,0,0,0.3);
    border-radius: 0;
    border: none;
    color: #FFF;
}
.wrapper-bg
{
    padding: 50px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.7);
}

@media (max-width:425px)
{
    /* HEADER */
    header
    {
        display: block;

        background: url('../img/header.jpg');
        background-size:cover;
        height: 110px;

    }
    header .logo
    {
        display: block;
        margin: auto;
        padding-top: 10px;
        width: 100px;
        height: 100px;

    }
    header .logo img
    {
        width: 100px;

    }

}


/* PAGE D ACCUEIL */
.nav-home
{
    position: fixed;
    right: 0;
    background-color: transparent;
    border: none;
}
.nav-home a
{
    color: rgba(211,209,206,1) !important;
    font-size: 12px; 
}
.nav-home li:hover
{
    background-color: transparent;
    color: rgb(52,152,219) !important;
}
.nav-home a:hover
{
    color: rgb(52,152,219) !important;
}
.banner-shadow
{
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(28,29,33,1) 0%, rgba(33,33,33,0) 100%); 
    background: -webkit-linear-gradient(top, rgba(28,29,33,1) 0%,rgba(33,33,33,0) 100%); 
    background: linear-gradient(to bottom, rgba(28,29,33,1) 0%,rgba(33,33,33,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1d21', endColorstr='#00212121',GradientType=0 );
    z-index: 1;
}
.fixed-background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: url('../img/Illidan.jpg') no-repeat;
    background-size: cover;

    text-align: left;
    color: rgba(211,209,206,1);

}
.fixed-background .welcome
{
    position: fixed;
    font-size : 30px;
    top:200px;
    left: 100px;
}
.fixed-background .btn-info
{
    background-color: transparent;
}
.fixed-background ul
{
    padding: 0px;
}
.fixed-background li
{
    padding: 0px;
}
.fixed-background li a
{
    margin: 2px;
    
}
.first-dark-part
{
    display: inline-block;
    position: relative;
    margin-top: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(28,29,33,0.6) 0%, rgba(28,29,33,1) 60%); 
    background: -webkit-linear-gradient(top, rgba(28,29,33,0.6) 0%,rgba(28,29,33,1) 60%); 
    background: linear-gradient(to bottom, rgba(28,29,33,0.6) 0%,rgba(28,29,33,1) 60%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991c1d21', endColorstr='#212121',GradientType=0 );
    text-align: center;
    color: rgba(211,209,206,1);
}
.first-dark-part h4
{
    padding-top: 0px;
}
.first-dark-part .logo
{
    margin: auto;
    width: 200px;
    height: 250px;
    
}

.light-part
{
    display: inline-block;
    position: relative;
    background-color: rgba(211,209,206,1) !important;
    width: 100%;
    color: rgb(28,29,33);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.content-container
{
    display: inline-block;
    align-content: center;
    width: 70%;
}

.link-accueil p
{
    font-size: 20px;
}
.link-accueil a, .link-accueil a:active , .link-accueil a:visited
{
    color: rgb(28,29,33) !important;
    text-decoration: none;
}
.link-accueil a:hover
{
    color: rgb(52,152,219) !important;
}

.dark-part
{
    display: inline-block;
    position: relative;
    background-color: rgba(28,29,33,1) !important;
    width: 100%;
    color: rgb(211,209,206);
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
    text-align: center;
}
.btn-info
{
    margin-top: 25px;
    text-transform: uppercase;
}
.btn-info, .btn-info:visited
{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    background-color: rgba(28,29,33,1);
    border: 1px solid rgb(211,209,206);
    border-radius: 5px;
    color: rgba(211,209,206,1) !important;
}
.btn-info:hover, .btn-info:focus
{
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    border: 1px solid rgb(28,29,33);
    background-color: rgba(211,209,206,1);
    color: rgba(28,29,33,1) !important;
}

.btn-nav
{
    width: 100px;
}

@media (max-width:1440px)
{
    .fixed-background
    {
        background-size: contain;
    }
}

@media (max-width:768px)
{
    .fixed-background p
    {
        display: none;
    }
    .wog-info .logo
    {
        display: none;
    }
    .wog-info h4
    {
        padding-top: 50px;
    }
}