
/* HEADER */
header
{
    display: block;

    background: url('../img/header.jpg');
    background-size:cover;
    height: 250px;
    border-bottom: 3px solid rgba(211,209,206,1);
    box-shadow: 8px 0px 0px #000;
}
header .logo
{
    display: block;
    margin: auto;
    padding-top: 25px;
    width: 200px;
    height: 250px;

}
header .logo img
{
    width: 200px;

}

@media (max-width:425px)
{
    /* HEADER */
    header
    {
        display: block;

        background: url('../img/header.jpg');
        background-size:cover;
        height: 110px;

    }
    header .logo
    {
        display: block;
        margin: auto;
        padding-top: 10px;
        width: 100px;
        height: 100px;

    }
    header .logo img
    {
        width: 100px;

    }

}